---
import data from "../data/cardData.json";
console.log(JSON.stringify(data));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <!-- Place pricing section here -->
    {data[1].tier}
    {data[1].features[1].title}
  </body>
</html>
